body{
    background-color: #fff9f9;
    font-family: poppins;
    overflow: hidden; /*  Para não aparecer a barra de rolagen*/
}

.area-login{
    display: flex; /*Alinhar os itens*/
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para pegar toda a área disponivel do navegador*/
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #312843; */
    width: 355px; /*Largura*/
    height: 520px; /*Altura*/
    padding: 35px; /*Espaço entre as bordas/lados*/
    border-radius: 10px; /*Deixar as bordas aredondadas*/
}

.login form{
    display: flex;
    width: 100%;
    flex-direction: column;

}

.login input{
    margin: 5px; /* Dar espaço entre os inputs */
    background-color: #fff9f9;  
    padding-left: 10px; /*Dar um espaço entre o texto e as bordas da caixa de texto*/
    color: rgb(20, 20, 20);
    height: 45px; /*Definir os tamanhos dos inputs*/
    border-color: rgb(194, 192, 192);
    border-style: solid;
    height: 50px; /*Definir os tamanhos dos inputs*/
    border-radius: 40px; /*Deixar as bordas aredondadas*/
}


.login img{
    width: 200px; /*Tamanho da imagem*/
    height: auto;
}

input::placeholder{
    color: rgb(107, 107, 107);
    font-size: 14px; /*Tamanho do texto que tem dentro do input (não o texto que a pessoa escreve)*/
}

form [type="submit"]{
    display: block;
    background-color: #934E9E;
    font-size: 20px; /*Tamanho da fonte do botão de entrar*/
    text-transform: uppercase; /*Deixar a fonte em caixa alta*/
    font-weight: bold; /*Deixar a fonte em negrito*/
    cursor: pointer; /*Quando passar o mouse em cima, ficar uma mãozinha, indicando que é um link*/
    border: none;
    color: #fff9f9;
}

form [type="submit"]:hover{
    background: linear-gradient(to right, #312843, #B71ABA);

}

span{
    margin-top: 10px;
    padding-left: 10px;
}

/* CSS para largura de tela igual ou inferior a 768px (exemplo) */
@media screen and (max-width: 700px) {
    .login {
        width: 100%; /* Aproveitar toda a largura da tela */
        height: auto; /* Remover a altura fixa para permitir a expansão conforme necessário */
        padding: 20px; /* Reduzir o espaço interno */
    }

    .login img {
        width: 150px; /* Reduzir o tamanho da imagem */
    }

    .login form [type="email"] {
        margin-bottom: 10px; /* Reduzir a margem inferior do campo de e-mail */
    }

    .login input {
        height: 40px; /* Reduzir a altura dos campos de entrada */
    }
    
    form [type="submit"] {
        font-size: 16px; /* Reduzir o tamanho da fonte do botão de entrar */
        margin-top: 8px;
    }
}

/* Centralize o conteúdo verticalmente */
.area-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
