body{
    background-color: #fff9f9;
    font-family: poppins;
    overflow: hidden; /*  Para não aparecer a barra de rolagen*/
}

.area-login{
    display: flex; /*Alinhar os itens*/
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para pegar toda a área disponivel do navegador*/
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #F6BFFF; */
    /* background-color: #312843;*/
    width: 355px; 
    height: 400px; 
    padding: 35px;
    border-radius: 10px; 

}

.login form{
    display: flex;
    width: 100%;
    flex-direction: column;

}

.login input{
    margin-top: 10px; /* Dar espaço entre os inputs */
    background-color: #fff9f9;  
    padding-left: 10px; /*Dar um espaço entre o texto e as bordas da caixa de texto*/
    color: #000000;
    border-color: rgb(194, 192, 192);
    border-style: solid;
    height: 50px; /*Definir os tamanhos dos inputs*/
    border-radius: 40px; /*Deixar as bordas aredondadas*/
}

span{
    margin-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    
}

.login img{
    width: 200px; /*Tamanho da imagem*/
    height: auto;

}

input::placeholder{
    color: black;
    font-size: 14px; /*Tamanho do texto que tem dentro do input (não o texto que a pessoa escreve)*/
}

form [type="submit"]{
    display: block;
    background-color: #934E9E;
    font-size: 20px; /*Tamanho da fonte do botão de entrar*/
    text-transform: uppercase; /*Deixar a fonte em caixa alta*/
    font-weight: bold; /*Deixar a fonte em negrito*/
    cursor: pointer; /*Quando passar o mouse em cima, ficar uma mãozinha, indicando que é um link*/
    color: #fff9f9;
}

form [type="submit"]:hover{
    background: linear-gradient(to right, #312843, #B71ABA);

}

p{
    color: rgb(105, 105, 105);
}
a{
    color: #934E9E;
    text-decoration: none; /*Remover a barra que fica em baixo do link*/
    margin-left: 10px;
}