/*-------------html todo--------------------------- */
body {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

/* --------------------------------------------- */

/*----------------header-------------------------*/
.cinza {
  width: 350px;
  
}

header {
  background-color: #312847;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-oxe-nerd {
  height: 75px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
  font-weight: bold;

}

a.carrinho {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrinho img, .sair{
  height: 20px;
  width: auto;
  margin: 0;
}

nav a:hover {
  background-color: #555;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
/* --------------------------------------------- */

/*-----------------section--------------------------*/
section.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* Adicione essa linha para definir a cor de fundo */

}

section img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  /* Adicione essa linha para fazer a imagem preencher o espaço disponível */
  margin-bottom: 0;
}

/* ----------Personalizados-----------  */
.titulo {
  height: 81px;
  font-size: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #440F5C;
  /*border-bottom: 1px solid black;*/
}

/*---------------Containers de Personalizados ------------------*/
.carrossel{
   /* Não Consegui trocar esse flex por outro */
  justify-content: center;
  align-items: center;
  grid-gap: 5vh;
          display: grid;
          grid-template-columns: repeat(4, 0.2fr); /* Cria 3 colunas iguais */
          gap: 20px; /* Espaçamento entre as caixas */
          padding: 0px 20px 0px 20px;
}

section.cinza{ /*Atributos das margins dos containers cinzas*/
  padding: 15px;
  background-color: #F2F3F4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 25vw;
  min-height: 620px;
  max-height: 620px;
  margin-left: 0.5%;
  margin-bottom: 2%;
}
section.cinza:nth-child(1){
  margin-left: 0;
}

.container {
  align-items: center;
}

section.container {
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 25vw;
  min-height: 580px;
  max-height: 580px;
}
/* section.container:nth-child(1){
  margin-left: 0;
} */

img.venda {
  /*max-width: 100%;
  height: auto;*/
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
}

.titulo {
  display: flex;
}

h2 {
  font-size: 18px;
  color: #333;
}

.conteudo {
  
}

p{
  font-size: 14px;
  color: #777;
}

.preco {
  font-size: 25px;
  color: #440F5C;
  /*font-weight: 5000;  Queria muita a intensidade do negrito 
  mas não foi */
  margin: 0 auto;
}

.bot {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.btn { /*Botão de comprar*/
  display: flex;
  padding: 10px 70px;
  background-color: #B71ABA;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-color: #B71ABA;
  margin-bottom: 5px; 

}
.btn:hover {
  background-color: #f890fa;
}
#carrinho{
  display: inline;
  background-color: #5094A7;
  width: auto;
  height: auto;
  padding: 7px 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#carrinho:hover{
  background-color: #6c99a5;
}    

/*----------------------------------------------------------*/



/*-----------------Footer incio -----------------------------------*/

footer {
margin-top: 40px;
background-color: #312847;
padding: 20px;
}

footer div {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 20px;
}

footer h2 {
margin-right: 10px;
color: white;
text-align: center;
}

footer img {
width: 20px;
height: 20px;
margin-right: 5px;
}

footer p {
margin: 10px;;
color: white;
}

footer strong {
display: block;
text-align: center;
}


/*-----------------Footer fim -----------------------------------*/

