/*-------------html todo--------------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: poppins;
  }
  
  /* --------------------------------------------- */
  
  /*----------------header-------------------------*/
  header {
    background-color: #312847;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-oxe-nerd {
    height: 75px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-weight: bold;
  }
  
  a.carrito {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carrito img {
    height: 20px;
    width: auto;
    margin: 0;
  }

  /*-------------------------- Detalhes do produto -------------------------------*/

  /* parte da imagem */
  .details {
    margin-top: 10%;
    margin-left: 8%;
    display: flex;
  }

  .continer {
    background-color: #F8EAFF;;
    padding: 18px 12px 15px 12px;
    margin-bottom: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .continer img {
    object-fit: cover;
    /* Adicione essa linha para fazer a imagem preencher o espaço disponível */
    margin-bottom: 0;
    margin: auto;
    border-radius: 10px;
  }
  
  /* parte da descrição do produto */
  .info {
    margin: 0px 0px  50px 25px;
  }

  .titulo {
    padding-top: -10px;
    font-size: 24px;
    margin-bottom: -1px;
    margin-top: -3px;
  }

  #linha {
    width: auto;
  }

  #subtitulo {
    color: #4E66A2;
    font-size: 13px;
    margin-right: -100px;
  }

  #descricao {
    padding-bottom: 120px;
    font-size: 12px;
    margin-right: -100px;
  }
 
  /* preços */
  .valores p {
    line-height: 12px;
  }
  
  #cortado{
    color: #7E7E7E;
    font-size: 13px;
  }

  #cortado2{
    color: #7E7E7E;
    font-size: 14px;
  }

  .preco {
    font-size: 25px;
    color: #440F5C;
    font-weight: 900;
    border: #440F5C;
    margin: 0 auto;
  }

  .nota {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .botton {
    display: flex;
    margin-top: 10px;

  }

  .btn { /*Botão de comprar*/
    display: inline-block;
    padding: 8px 110px;
    background-color: #B71ABA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .btn:hover {
    background-color: #f890fa;
  }

  .btncarrinho img {
    text-align: center;
    align-items: center;
  }

  .btncarrinho:hover {
    background-color: #5094a790;
    ;
  }
  .btncarrinho { /*botão de carrinho */
    padding: 0px 20px 0px 20px;
    margin-left: 0px;
    display: inline-block;
    background-color: #5094A7;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
  }

  /*------------------- Cálculo de frete --------------------*/

  aside { 
    margin: 0px 40px 50px 180px;
  }

  .roxo {
    padding: 15px 30px 30px 30px; 
    background-color: #F8EAFF;
    text-align: center;
    border-radius: 15px; 
  }
  .new {
    padding-top: 20px;
    padding-bottom: 160px; 
  }
  .frete h2 {
    padding-top: 3px; 
    font-size: 15px;
  }
  
  .btnfrete { /*Botão de calcular frete*/
    display: inline-block;
    padding: 8px 80px;
    background-color: #934E9E;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .btnfrete:hover {
    background-color: #934e9eb8;
  }

  input {
    border-radius: 10px;
    border-color: #DCDADA;
    background-color: #EFECF0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 45px;
    padding-left: 20px; 
  }

 /*--------------- Containers de Produtos relacionados ------------------*/

 .segundamain {
  margin-bottom: 20%;
  margin-top: 5%;
 }

 .relacionados {
  margin-left: 5%;
  padding-bottom: 35px;
  font-size: 30px;
  text-decoration: none;
 }

 .carrossel{
  display: flex; 
  justify-content: center;
  align-items: center; 
  }

section.cinza{
  padding: 15px;
  background-color: #F2F3F4;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  margin-left: 0.5%;
  margin-bottom: 2%;
}
section.cinza:nth-child(1){
  margin-left: 0;
}
section.container {
  display: inline-block;
  margin-left: 2%; 
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}
section.container:nth-child(1){
  margin-left: 0;
}

img.venda {
  /*max-width: 100%;
  height: auto;*/
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  color: #333;
}

p{
  font-size: 14px;
  color: #777;
}

.preco {
  font-size: 25px;
  color: #440F5C;
  /*font-weight: 5000;  Queria muita a intensidade do negrito 
  mas não foi */
  margin: 0 auto;
  padding-bottom: 10px;
}

.btn { /*Botão de comprar*/
  display: inline-block;
  padding: 10px 70px;
  background-color: #B71ABA;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  margin-right: 10px;
  margin-bottom: 5px; 
}
.btn:hover {
  background-color: #f890fa;
}
#carrinho{
  display: inline;
  background-color: #5094A7;
  width: auto;
  height: auto;
  padding: 7px 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#carrinho:hover{
  background-color: #6c99a5;
}    

  /*----------------- Footer -----------------------------------*/

  footer {
    background-color: #312847;
    padding: 20px;
  }
  
  footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  footer h2 {
    margin-right: 10px;
    color: white;
    text-align: center;
  }
  
  footer img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  footer p {
    margin: 10px;;
    color: white;
  }
  
  footer strong {
    display: block;
    text-align: center;
  }
  
  /*-----------------Footer fim -----------------------------------*/