/*-------------html todo--------------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: poppins;
  }
  
  /* --------------------------------------------- */
  
  /*----------------header-------------------------*/
  header {
    background-color: #312847;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-oxe-nerd {
    height: 75px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-weight: bold;
  
  }
  
  a.carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carrinho img, .sair{
    height: 20px;
    width: auto;
    margin: 0;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  /* --------------------------------------------- */
  
  /*-----------------section--------------------------*/
  section.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* Adicione essa linha para definir a cor de fundo */
  
  }
  
  section img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    /* Adicione essa linha para fazer a imagem preencher o espaço disponível */
    margin-bottom: 0;
  }
  
  
  
  /* ----------Eletronicos-----------  */
  nav.titulo {
    padding-left: 2%;
    width: 15%;
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #440F5C;
    /*border-bottom: 1px solid black;*/
  }

  h2.titulo{
    font-size: 25px; 
    padding-left: 2%;  
    margin-bottom: 2%;

  }
  
  /*---------------Containers de Eletronicos ------------------*/
  .carrossel{
    display: flex; /* Não Consegui trocar esse flex por outro */
    justify-content: center;
    align-items: center;
    /*padding-left: 20px;*/ /* Deixei comentando pq tava desalinhado  */
  }
  section.cinza{
    padding: 15px;
    background-color: #F2F3F4;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    margin-left: 0.5%;
    margin-bottom: 2%;
  }
  section.cinza:nth-child(1){
    margin-left: 0;
  }
  section.container {
    display: inline-block;
    margin-left: 2%; 
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
  }
  section.container:nth-child(1){
    margin-left: 0;
  }
  
  img.venda {
    /*max-width: 100%;
    height: auto;*/
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 18px;
    color: #333;
  }
  
  p{
    font-size: 14px;
    color: #777;
  }
  
  .preco {
    font-size: 25px;
    color: #440F5C;
    /*font-weight: 5000;  Queria muita a intensidade do negrito 
    mas não foi */
    margin: 0 auto;
    padding-bottom: 10px;
  }
  
  .btn { /*Botão de comprar*/
    display: inline-block;
    padding: 10px 70px;
    background-color: #B71ABA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    margin-right: 10px;
    margin-bottom: 5px; 
  
  }
  .btn:hover {
    background-color: #f890fa;
  }
  #carrinho{
    display: inline;
    background-color: #5094A7;
    width: auto;
    height: auto;
    padding: 7px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#carrinho:hover{
    background-color: #6c99a5;
}    

  /*----------------------------------------------------------*/
  

  
  /*-----------------Footer incio -----------------------------------*/

footer {
  background-color: #312847;
  padding: 20px;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

footer h2 {
  margin-right: 10px;
  color: white;
  text-align: center;
}

footer img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

footer p {
  margin: 10px;;
  color: white;
}

footer strong {
  display: block;
  text-align: center;
}


/*-----------------Footer fim -----------------------------------*/