*{
    margin: 0;
    padding: 0;

}

body{
    background: white;
}

.logo-oxe-nerd{
    width: 150px;
}

.carring

nav{
    padding-top: 25px;
    
    background-color: #17024b;
}

a{
    text-decoration: none ;
    color: white;
    padding: 20px;
    font-weight: bold
}

header{
    background: #312847;
    display: flex;
}